<nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
  <div class="container left ml0">
    <div class="navbar-collapse"
      id="navbar4">
      <ul class="md0">


        <nav class="navbar navbar-expand-lg navbar-light shadow-sm bg-light fixed-top">
          <div class="container left ml0">
            <div class="navbar-collapse"
              id="navbar4">
              <ul class="md0">


                <img src="assets/picture/dolphin.svg"
                  alt="Dolphin"
                  width="50px"
                  height="60px">


                <span class="ml-3 font-weight-bold">&nbsp; DOLPHIN</span>

              </ul>
            </div>



            <div class="navbar-collapse"
              id="navbar4">
              <ul class="navbar-nav mr-auto pl-lg-4">
                <li class="nav-item px-lg-2 active"> <a class="nav-link"
                    routerLink="/home"> <span class="d-inline-block d-lg-none icon-width"></span>Home</a> </li>
                <li class="nav-item px-lg-2"> <a class="nav-link"
                    routerLink="/contact"><span class="d-inline-block d-lg-none icon-width"></span>Contact</a> </li>
                <li class="nav-item px-lg-2"> <a class="nav-link"
                    routerLink="/aboutus"><span class="d-inline-block d-lg-none icon-width"></span>About Us</a> </li>

              </ul>
              <ul class="navbar-nav ml-auto mt-3 mt-lg-0">
                <li class="nav-item"> <a class="nav-link"
                    href="#">
                    <i class="bi bi-twitter"></i><span class="d-lg-none ml-3">&nbsp;&nbsp;&nbsp;Twitter</span>
                  </a> </li>
                <li class="nav-item"> <a class="nav-link"
                    href="#">
                    <i class="bi bi-facebook"></i><span class="d-lg-none ml-3">&nbsp;&nbsp;&nbsp;Facebook</span>
                  </a> </li>
                <li class="nav-item"> <a class="nav-link"
                    href="#">
                    <i class="bi bi-instagram"></i><span class="d-lg-none ml-3">&nbsp;&nbsp;&nbsp;Instagram</span>
                  </a> </li>
                <li class="nav-item"> <a class="nav-link"
                    href="#">

                  </a> </li>
              </ul>
              <ul class="md0">
                <button class="btn btn-outline-secondary"
                  *ngIf="!authenticated"
                  [routerLink]="['../login']">Login</button>
                <button class="btn btn-outline-secondary"
                  *ngIf="authenticated"
                  (click)="logout()">Logout</button>

              </ul>
            </div>

          </div>

        </nav>