<div class="main-content mt-5">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header card-header-danger">
                        <h4 class="card-title">Edit Profile</h4>
                        <p class="card-category">Complete your profile</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <div class="row">
                                <div>
                                    <label for="Image">Choose a new Profile Picture</label>
                                    <input type="file"
                                        (change)="upload($event)"
                                        accept="*.png.jpg.jpeg"
                                        class="btn">
                                </div>
                            </div>
                            <button mat-raised-button
                                type="submit"
                                class="btn btn-primary pull-right"
                                (click)="uploadImage()">Update
                                Profile</button>
                            <div class="clearfix"></div>
                        </form>
                    </div>

                </div>
            </div>
            <div class="col-md-4">
                <div class="card card-profile">
                    <div class="card-avatar">
                        <a>
                            <img class="img profile-image"
                                style="width:100%;"
                                [src]="profilePic" />
                        </a>
                    </div>
                    <div class="card-body">
                        <h4 class="card-title"
                            *ngIf="name"> Name : {{name}}</h4>
                        <h4 class="card-title"
                            *ngIf="name===undefined"> ~no name set~🙈</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>