<div class="d-flex"
  id="wrapper">
  <!-- Sidebar -->
  <div class="bg-light border-right"
    id="sidebar-wrapper">
    <div class="sidebar-heading"><a class="nav-link"
        routerLink="addentry"><i class="bi bi-plus-circle-fill"></i><span>&nbsp;Add Journal</span></a> </div>
    <div class="list-group list-group-flush">
      <a href="../allentries"
        class="list-group-item list-group-item-action bg-light">All Entries</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">Statistics</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">Recommendations</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">Calender</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">View Profile</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">Edit Profile</a>
      <a href="#"
        class="list-group-item list-group-item-action bg-light">Setting</a>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->
  <!-- Page Content -->
  <div id="page-content-wrapper">
    <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
      <button class="btn btn-outline-secondary tg-btn"
        id="menu-toggle">Toggle Menu</button>
    </nav>
    <div class="container-fluid">
      <router-outlet></router-outlet>
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>