<!-- Start Banner Hero -->
<div id="template-mo-zay-hero-carousel" class="carousel slide" data-bs-ride="carousel">


    <a class="carousel-control-prev text-decoration-none w-auto ps-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="prev">
        <i class="bi bi-arrow-left"></i>
    </a>
    <a class="carousel-control-next text-decoration-none w-auto pe-3" href="#template-mo-zay-hero-carousel"
        role="button" data-bs-slide="next">
        <i class="bi bi-arrow-right"></i>
    </a>
</div>
<!-- End Banner Hero -->


<!-- Start Categories of The Month -->
<section class="container py-5">
    <div class="row text-center pt-3">
        <div class="col-lg-6 m-auto">
            <h1 class="h1">About Dolphin</h1>
        </div>
        <div><br></div>
        <div class="row">
            <div class="col-md-1">

            </div>
            <div class="col-md-10">
                <p>
                    Mental health, defined by the World Health Organization (WHO), is
                     "a state of well-being in which the individual realizes his or her own abilities, can cope with the normal stresses 
                     of life, can work productively and fruitfully, and is able to make a contribution to his or her community". 
                     According to WHO, mental health includes "subjective well-being, perceived self-efficacy, autonomy, competence, 
                     intergenerational dependence, and self-actualization of one's intellectual and emotional potential, among others".
                     Dolphin as a team decided to contribute on this issue and help people relieve stress, anxiety and depression,
                     protecting them from serious issues.
                </p>
            </div>
        </div>
    </div>

</section>
<!-- End Categories of The Month -->


<!-- Start Featured Product -->
<section class="bg-light">
    <div class="container py-5">
        <div class="row text-center py-3">
            <div class="col-lg-6 m-auto">
                <h1 class="h1">Team</h1>
                <p>
                    The amazing team mebers which contribited to make the following website.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src=".\assets\images\56232362_2306722069615875_7998182575006810112_n.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">

                        <p class="card-text">
                            Fahad Zaheer </p>
                        <p class="text-muted">Lead Front End Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="./assets/images/Zeeshan.PNG" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">

                        <p class="card-text">
                            Malik Zeeshan Ahmad </p>
                        <p class="text-muted">Lead Full Stack Developer</p>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="./assets/images/Qasim.jpg" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">

                        <p class="card-text">
                            Muhammad Qasim Khan </p>
                        <p class="text-muted">Lead Backend Developer</p>
                    </div>
                </div>
            </div>

            <div class="col-12 col-md-3 mb-3">
                <div class="card h-100">
                    <a href="shop-single.html">
                        <img src="./assets/images/Dawood.PNG" class="card-img-top" alt="...">
                    </a>
                    <div class="card-body">

                        <p class="card-text">
                            Dawood Wasif </p>
                        <p class="text-muted">Lead Web Designer</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Featured Product -->

