<div class="row">
    <hr>
    <div class="col-md-4" *ngFor="let item of activity; index as i;">
  
        <div class="profile-card-4 text-center"><img src="{{item.imageURL}}" class="img img-responsive">
            <div class="profile-content">
                <div class="profile-name">{{item.mood }}
                </div>
                <div class="profile-description">
                    {{item.text}}
                </div>
                <div class="row">
                    <h2>Activities</h2>

                    <div class="col-md-4" *ngFor="let act of item.activities; index as i;">
                        <div class="profile-overview">
                            <p>{{ act }},</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>